@{
    ViewData["Title"] = "Blog Post";
}

<style>
    section{
        margin-top : 64px;
    }
</style>

<article>
    <div class="row">
        <div class="col-s3 col-sm-1"></div>
        <div class="col-s6 col-sm-10">


            <header>
                <h1>Android vs iOS Smartphones</h1>
                <h6>By Adam Ismail</h6>
                <img src="https://cdn.mos.cms.futurecdn.net/7iNDcbzHpB2dv7e4CSnJRf-1024-80.jpg" class="img-fluid" style="margin-top:64px"/>
                <span style="color:#777; font-size:8;">(Image credit: Tom's Guide)</span>
            </header>

            <section >
                <p>
                    While you can turn to a number of companies if you're shopping for one of the best phones,
                    no matter what you buy, it's guaranteed to be running one of the two prominent mobile
                    operating systems: iOS (if you pick an iPhone) or Android (if you opt for anything else).
                </p>

                <p>
                    Both platforms are quite mature at this stage, having existed for more than a decade.
                    That means both have amassed comprehensive feature sets, and there's very little one
                    can do that the other cannot. Still, however, each has its advantages, and there are
                    reasons you might want to choose one over the other.
                </p>

                <p>
                    Pitting iPhone vs. Android, we take a look at the respective strengths of each mobile platform,
                    so you can pick the right one for you the next time you buy a smartphone.
                </p>
            </section>

            

            <section>

                <h4>iPhone vs Android: Why iPhone is better</h4>


                <p>
                    You're invested in Apple's ecosystem. This might seem like a shallow reason,
                    but Apple obviously makes a wide breadth of tech products, and if you already
                    own a Mac, iPad or Apple Watch, getting an iPhone makes a lot of sense.
                </p>

                <p>
                    Apple has designed a multitude of continuity features that allow you to carry
                    over work and data from one of its devices to another, and these features
                    can certainly save you time. Take Handoff, for example, where calls on
                    your iPhone and web pages in Safari can move seamlessly between iOS and macOS.
                    Universal Clipboard makes text copied on one platform usable on the other.
                    Another one of our favorites is Continuity Camera, which allows you to take
                    pictures and scan documents using your iPhone's camera, and then view and edit
                    them on your Mac. You can even complete purchases on your Mac by using biometric
                    authentication features on your iPhone via Apple Pay.
                </p>

                <p>
                    Only a handful of Android phone makers have hardware ecosystems that approach Apple's,
                    and even for some that come close, like Samsung, you won't get the depth of integration
                    possible between the iPhone and other Apple-built devices. Microsoft is helping Google
                    close the gap somewhat with its new Your Phone app for Windows, which allows Android users
                    to respond to texts and notifications on their PCs, though the experience is a little clunky
                    and there is still work to be done.
                </p>

                <p>
                    There are many other great examples of continuity across iOS, iPadOS, watchOS and
                    macOS — and the iPhone is a critical component in that puzzle, especially now that
                    iPhone apps can be seamlessly ported to macOS. Power users already immersed in Apple's
                    ecosystem can stand to gain a lot by adding an iPhone to their repertoire.
                    And that's to say nothing of friends and family members who prefer to use
                    iMessage and FaceTime to keep in touch.
                </p>

                <p>
                    Additionally, Apple has added yet another opportunity for lock-in with the new iPhone 12
                    and iPhone 12 Pro: MagSafe accessories. These magnet-based chargers, cases and p
                    roducts will work only with the latest iPhones, so if you invest in the platform,
                    it's going to cause some friction should you try to leave.
                </p>
            </section>

            <section>
                <h4>iPhone vs Android: Why Android is better</h4>

                <p>There are phones at every price. The vast majority of the world's smartphones run Android, and because so many companies build Android handsets, they're available at every price range. There are cheap phones under the three-digit mark like the new Pixel 4a, as well as some of the best small phones and best big phones, and phablets and foldables far exceeding $1,000. No matter how much you can spend, chances are you can find an Android device that fits your budget or offers exclusive features.</p>

                <p>The same cannot be said for iPhones, which historically have been expensive at launch, only to come down in price after successive generations. One of the most affordable Apple handsets is the iPhone 11, and that cost $700 when it launched. By contrast, the OnePlus 7T (which runs on Android) costs $100 less and has an OLED display, twice the RAM and internal storage, and a 2x telephoto lens. The least-expensive iPhone that Apple offers is the iPhone SE, which is a fantastic device with phenomenal performance for just $400, though its design is dated, and its screen will be too small for some.</p>

                <p>It's more customizable. Though both iOS and Android have evolved over the years, Android has always had a reputation for being the platform for users who like to tinker and personalize their devices. That starts with the home screen launcher, which offers dynamic widgets and the ability to place apps anywhere on a page or in a drawer, out of sight — something the iPhone is only catching up to now with iOS 14. You can even swap out your Android phone's launcher with an alternative downloaded from the Google Play store.</p>

                <p>Android also lets you download third-party replacements for core services — like web browsers, keyboards and media players — and set them as the default versions if you prefer a third-party app to one that was preinstalled on your phone. iOS has improved in this regard over the years, though the implementation is still somewhat clunky.</p>

                <p>Finally, we have to talk about manufacturer skins — bespoke user interfaces and Android system software that are customized by certain phone makers, offering extra features and, often, the ability to create themes for your experience from top to bottom. Some Android fans prefer Google's "stock" interpretation of Android. However, but lots of users like phone makers' custom software, like Samsung's One UI or OnePlus' OxygenOS, because of their extra capabilities, such as the ability to take scrolling screenshots and hide photos and videos in password-protected folders.</p>

                <p>You can (sometimes) expand the storage. Although expandable storage is somewhat less popular these days, many Android phones still offer it. This allows you to use a microSD card to keep photos, apps and other media that won't fit on your device's internal memory.</p>

                <p>
                    That's an amazing benefit, given the exorbitant prices that Apple and other phone makers charge to double or quadruple storage when you buy your handset. Why tack on another $100 to $150 to the price of a new phone just for an extra 128GB or 256GB of storage (that you're not even sure you'll need) when you can just drop $70 on a 512GB card later?
                </p>

                <p>Additionally, while it's certainly becoming more of a rarity on high-end phones these days, many Android devices still come with headphone jacks — a hotly requested feature Apple retired from its phones in 2016. That's a big deal to people who still love to use their trusty old wired headphones.</p>
            </section>


            <section>
                <h4>Which should you choose?</h4>

                <p>So then, iPhone or Android: Which should you choose? Both platforms have pros and cons, and, as with many purchase decisions, your choice will depend on what you value most.</p>

                <p>Owning an iPhone is a simpler, more convenient experience. There's less to think about, and because Apple's iPhone represents the single most popular brand of smartphone, there's an abundance of support everywhere you go — whether you need your battery replaced or you're just trying to pick up a new case. </p>

                <p>Android-device ownership is a bit harder in those respects. Yet it's simultaneously more freeing, because it offers more choice — choice of how much you want to spend, choice of hardware and software features, and choice in how you organize and personalize your experience. If you're extremely particular about the technology you use, you might find Android more liberating — dare I say, fun — though you'll also likely lament the relative lack of high-quality apps and accessories.</p>

                <p>If you're wondering which particular device you should switch to, there's no better place to start than our lists of the best iPhones and best Android phones. Whichever device you pick, just make sure it fits with your operating system preferences</p>
            </section>

        </div>
        <div class="col-s3 col-sm-1"></div>
    </div>
</article>
