@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="row">
        <div class="col-s3 col-sm-1"></div>
        <div class="col-s6 col-sm-10">
            <div class="card">
                <div class="card-body">
                    <h1>Welcome</h1>
                    <hr />
                    <h5>This web app is created using .Net MVC, as a part of WEB-1001 class assignment.</h5>
                    <br /><br />
                    <h6>Created by Satya Koppisetti (A00206032)</h6>
                </div>
            </div>
        </div>
         <div class="col-s3 col-sm-1"></div>
    </div>
</div>
