@{
    ViewData["Title"] = "Requests Page";
    
}

<article>
    <div class="row">
        <div class="col-s3 col-sm-1"></div>
        <div class="col-s6 col-sm-10">
            <header>
                <h1>Requests Received</h1>
            </header>

            <section style="margin-top:64px">

                
                <table class="table">
                    @foreach (var item in Context.Request.Headers)
                    {
                    <tr>
                        <td>@item.Key</td>
                        <td>@item.Value</td>
                    </tr>
                    }


                </table>
            </section>
        </div>
        <div class="col-s3 col-sm-1"></div>
    </div>
</article>